<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>

<%= @params %>

<div class="box box-info">
  <div class="box-body">

    <div class="row">
      <div class="col-md-12">
        <% if flash[:notice] %>
          <div class="alert alert-success" role="alert">
            <%= flash[:notice] %>
          </div>
        <% end %>
        <div class="box-header mt-3">
          <h4 class="box-title">Webhooks</h4>
        </div>
        <div class="box-body pb-3">
          <div class="list-group">
            <% if @webhooks.present? %>
              <% @webhooks.each do |webhook| %>            
                <div class="list-group-item"><%= webhook.id %> : <%= webhook.topic %> : <%= webhook.address %> : <a href="home/remove_webhook/<%= webhook.id %>" onclick="if(!confirm('Are you sure you want to delete this?')) { return false; }">Remove</a></div>
              <% end %>
            <% else %>
              <div class="list-group-item">This app has not created any webhooks for this Shop. Add webhooks to your ShopifyApp initializer if you need webhooks</div>
            <% end %>
          </div>

          <div class="box-header mt-2">
            <h4 class="box-title">Menu</h4>
          </div>
          <div class="list-group">
            <a class="list-group-item" href="product_exclusion_tags">Product Exclusion Tags</a>
            <a class="list-group-item" href="return_reasons">Return Reasons</a>
            <a class="list-group-item" href="rules">Rules</a>
            <a class="list-group-item" href="home/reconfig_shop_settings">Update Shop Settings</a>
            <a class="list-group-item" href="https://www.omniparcelreturns.com/bookreturn" target="_blank">OmniReturns</a>
          </div>
        
          <div class="box-header mt-2">
            <h4 class="box-title">Sample</h4>
          </div>
          <div class="list-group">
            <a class="list-group-item" href="home/test">Home/Test Page</a>
            <a class="list-group-item" href="home/create_order_webhook">Create (Order Create) Webhook</a>
            <a class="list-group-item" href="home/create_uninstall_app_webhook">Create (App Uninstall) Webhook</a>
            <a class="list-group-item" href="api/get_order_data?shop=queuefirst.myshopify.com&order_no=1038" target="_blank">Sample Order Data</a>
            <a class="list-group-item" href="api/get_shop_settings?shop=queuefirst.myshopify.com" target="_blank">Sample Shop Settings Data</a>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>

<%
=begin
%>
<h2>Products</h2>

<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.title, "https://#{@shop_session.domain}/admin/products/#{product.id}", target: "_top" %></li>
  <% end %>
</ul>

<hr>

<h4>Webhooks</h4>

<% if @webhooks.present? %>
  <ul>
    <% @webhooks.each do |webhook| %>
      <%= webhook.id %>
      <li><%= webhook.topic %> : <%= webhook.address %> </li>
    <% end %>
  </ul>
<% else %>
  <p>This app has not created any webhooks for this Shop. Add webhooks to your ShopifyApp initializer if you need webhooks</p>
<% end %>

<hr>

<h4>Menu</h4>

<ul>
  <li><a href="product_exclusion_tags">Product Exclusion Tags</a></li>
  <li><a href="return_reasons">Return Reasons</a></li>
  <li><a href="rules">Rules</a></li>
</ul>

<hr>

<h4>Test</h4>

<ul>

  <li><a href="home/create_order_webhook">Create Webhook</a></li>
  <li><a href="home/remove_webhook">Remove Webhook</a></li>
  <li><a href="home/test">Home->Test</a></li>
  <li><a href="api/index">Api->Index</a></li>
  <li><a href="api/test">Api->Test</a></li>
</ul>
<%
=end
%>