<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Add Return Reasons" });
    });
  </script>
<% end %>

<%
=begin
%>
<%= @params %>
<%= @display %>
<%
=end
%>

<div class="box box-info">
  <div class="box-body">

    <div class="row">
      <div class="col-md-12">

        <div class="box-header main-title">
          <%= link_to raw('<i class="fa fa-angle-left"></i>&nbsp;Return Reasons'), {:controller => 'settings', :action => 'return_reasons'}, :class => "breadcrumb-back" %>
          <h3 class="box-title">Add Return Reasons</h3>
        </div>

        <div class="box-body">
          <% unless @errors_messages.nil? %>
          <div class="alert alert-danger" role="alert">
            <% @errors_messages.each do |error| %>
              <p class="mb-0"><%= error %></p>
            <% end %>
          </div>
          <% end %>
          <% if flash[:notice] %>
            <div class="alert alert-success" role="alert">
              <%= flash[:notice] %>
            </div>
          <% end %>
          <%= form_tag("/submit_add_reasons", method: "post") do %>
            <div class="form-group">
              <%= label_tag(:reason, "Return Reason", :class => "form-label", :for => "reason") %>
              <%= text_field_tag(:reason, "", :class => "form-control") %>
            </div>
            <hr>
            <%= submit_tag("Submit", :class => "btn btn-primary") %>
            <%= link_to 'Cancel', {:controller => 'settings', :action => 'return_reasons'}, :class => "btn btn-primary" %>
          <% end %>
        </div>

      </div>
    </div>

  </div>
</div>