<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Add Options To Rule" });
    });
  </script>
<% end %>

<%= @parmas %>

<div class="box box-info">
  <div class="box-body">

    <div class="row">
      <div class="col-md-12">

        <div class="box-header">
          <h4 class="box-title">Add Options to Rule</h4>
        </div>
            <%= form_tag("/submit_add_options_to_rule/1", method: "post") do %>
                <div class="form-group">
                    <%= label_tag(:refund_method, "Refund Method: ", :class => "form-label", :for => "method") %>
                    <div class="form-check form-check-inline">
                        <%= radio_button_tag(:refund_method, "1", :class => "form-check-input") %>&nbsp;
                        <%= label_tag(:store_credit, "Refund", :class => "form-check-label") %>
                    </div>
                    <div class="form-check form-check-inline">
                        <%= radio_button_tag(:refund_method, "2", :class => "form-check-input") %>&nbsp;
                        <%= label_tag(:refund, "Store Credit", :class => "form-check-label") %>
                    </div>
                </div>
                <div class="form-group">
                    <%= label_tag(:return_window, "Return Window: ", :class => "form-label", :for => "rule_name") %>
                    <%= text_field_tag(:return_window, "", :class => "form-control") %>
                </div>
                <div class="form-group">
                    <%= label_tag(:return_shipping_fee, "Shipping Option: ", :class => "form-label", :for => "rule_name") %>
                    <div class="form-check form-check-inline">
                        <%= check_box_tag(:return_shipping_fee, 1, false, :class => "form-check-input") %>&nbsp;
                        <%= label_tag(:store_credit, "Refund Shipping Fee", :class => "form-check-label") %>
                    </div>
                </div>
                <hr>
                <%= submit_tag("Submit Options", :class => "btn btn-primary") %>
                <%= link_to raw('<button type="button" class="btn btn-primary">Back to Rules</button>'), {:controller => 'settings', :action => 'rules'}, :class => "" %>
            <% end %>
        </div>
    </div>

  </div>
</div>