<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Add Options To Rule" });
    });
  </script>
  <script type="text/javascript">
    function on_select_method(obj) {
      //return_shipping_fee_blk
      var selected_return_shipping_fee_val = $(obj).val();
      if(selected_return_shipping_fee_val == 1) {
        $('#return_shipping_fee_blk').show();
      } else {
        $('#return_shipping_fee_blk').hide();
      }
    }
  </script>
<% end %>

<%
=begin
%>
<%= @parmas %>
<%
=end
%>

<div class="box box-info">
  <div class="box-body">
    <div class="row">
      <div class="col-md-12">
        <div class="box-header main-title">
          <%= link_to raw('<i class="fa fa-angle-left"></i>&nbsp;Rules'), {:controller => 'settings', :action => 'rules'}, :class => "breadcrumb-back" %>
          <h3 class="box-title">Add Options to Rule</h3>
        </div>
        <div class="box-body pb-3">
            <%= form_tag("/submit_add_options_to_rule/#{@parmas[:rule_id]}", method: "post") do %>
                <div class="form-group">
                    <%= label_tag(:refund_method, "Refund Method: ", :class => "form-label", :for => "method") %>
                    <div class="form-check form-check-inline">
                        <%= radio_button_tag(:refund_method, "1", true, :class => "form-check-input", :onclick => "on_select_method(this)") %>&nbsp;
                        <%= label_tag(:store_credit, "Refund", :class => "form-check-label") %>
                    </div>
                    <div class="form-check form-check-inline">
                        <%= radio_button_tag(:refund_method, "2", false, :class => "form-check-input", :onclick => "on_select_method(this)") %>&nbsp;
                        <%= label_tag(:refund, "Store Credit", :class => "form-check-label") %>
                    </div>
                </div>
<%
=begin
%>
                <div class="form-group">
                    <%= label_tag(:return_window, "Return Window: ", :class => "form-label", :for => "rule_name") %>
                    <%= text_field_tag(:return_window, "", :class => "form-control", :value => 0) %>
                    <span class="label label-primary"><i>Note: If no Return Window then you should enter 0.</i></a></span>
                </div>
<%
=end
%>
                <div class="form-group"  id="return_shipping_fee_blk">
                    <%= label_tag(:return_shipping_fee, "Shipping Option: ", :class => "form-label", :for => "rule_name") %>
                    <div class="form-check form-check-inline">
                        <%= check_box_tag(:return_shipping_fee, 1, false, :class => "form-check-input") %>&nbsp;
                        <%= label_tag(:store_credit, "Refund Shipping Fee", :class => "form-check-label") %>
                    </div>
                </div>
                <hr>
                <%= submit_tag("Submit", :class => "btn btn-primary") %>
                <%= link_to raw('<button type="button" class="btn btn-primary">Cancel</button>'), {:controller => 'settings', :action => 'rules'}, :class => "" %>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>