<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Product Exclusion Tags" });
    });
  </script>
<% end %>

<%
=begin
%>
<%= @params %>
<%= @errors_messages %>
<%
=end
%>

<div class="box box-info">
  <div class="box-body">

    <div class="row">
      <div class="col-md-12">

        <div class="box-header main-title">
          <%= link_to raw('<i class="fa fa-angle-left"></i>&nbsp;Home') , {:controller => 'home', :action => 'index'}, :class => "breadcrumb-back" %>
          <h3 class="box-title">Product Exclusion Tags</h3>
        </div>
        
        <div class="box-body">
          <% unless @errors_messages.nil? %>
          <div class="alert alert-danger" role="alert">
            <% @errors_messages.each do |error| %>
              <p class="mb-0"><%= error %></p>
            <% end %>
          </div>
          <% end %>
          <% if flash[:notice] %>
            <div class="alert alert-success" role="alert">
              <%= flash[:notice] %>
            </div>
          <% end %>
          <%= form_tag('/submit_product_exclusion_tags', method: "post") do %>
            <%= hidden_field_tag(:shop_id, @shop_id) %>
            <div class="form-group">
              <%= label_tag(:exclusion_tags, "Exclusion Tags(Comma separated tags)", :class => "form-label", :for => "exclusion_tags") %>
              <%= text_field_tag(:exclusion_tags, @no_tags, :class => "form-control" ) %>
            </div>
            <hr>
            <%= submit_tag("Submit", :class => "btn btn-primary") %>
            <%= link_to 'Cancel', {:controller => 'home', :action => 'index'}, :class => "btn btn-primary" %>
          <% end %>
        </div>

      </div>
    </div>

  </div>
</div>