<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Select Rule" });
    });
  </script>
<% end %>

<%= @params %>

<div class="box box-info">
  <div class="box-body">

    <div class="row">
        <div class="col-md-12">

            <div class="box-header mt-3">
                <h4 class="box-title">Select Rule</h4>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            Country
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Create Rule by Country</h5>
                            <p class="card-text">Set rules with respect to customer Country.</p>
                            <%= link_to raw('<button type="button" class="btn btn-primary">Create</button>'), "create_rule/1", :class => "" %>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            Order Value
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Create Rule by Order Value</h5>
                            <p class="card-text">Set rules with respect to Order Value.</p>
                            <%= link_to raw('<button type="button" class="btn btn-primary">Create</button>'), "create_rule/2", :class => "" %>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            Order Discount
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Create Rule by Order Discount</h5>
                            <p class="card-text">Set rules with respect to Order Discount.</p>
                            <%= link_to raw('<button type="button" class="btn btn-primary">Create</button>'), "create_rule/3", :class => "" %>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            Return Reason
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Create Rule by Return Reason</h5>
                            <p class="card-text">Set rules with respect to Return Reason.</p>
                            <%= link_to raw('<button type="button" class="btn btn-primary">Create</button>'), "create_rule/4", :class => "" %>
                        </div>
                    </div>
                </div>
            <div>

            <hr>
            
            <div class="row pb-3">
                <div class="col-md-12">
                    <%= link_to raw('<button type="button" class="btn btn-primary">Back to Rules</button>'), {:controller => 'settings', :action => 'rules'}, :class => "" %>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>
